body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}



/* ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
} */

ul,
ol {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
}

.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}

.header {
    border-bottom: 1px solid #e7e9fc;
}


.features {}


.header-menu-link:hover {
    color: #404bbf;
}

.header-menu-link:focus {
    color: #404bbf;
}

.address:hover {
    color: #404bbf;

}

.address:focus {
    color: #404bbf;
}

.address-link:hover {
    color: #404bbf;

}

.address-link:focus {
    color: #404bbf;
}

/* .header-address-link:active {
    color: #404bbf
} */





/* --------HEADER-------- */

.header {
box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-navigation {
    display: flex;
    align-items: center;

}

.header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    /* margin-right: 76px; */
    padding: 16 0;
}

.header-logo-color {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
}

.header-menu {
    /* display: flex; */
    /* gap: 40px; */
    display: none;
}


/* .header-menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
position: relative;

}

.current {
    position: relative;
    color: #404bbf;
}

.current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    background-color: #404bbf;
    border-radius: 2px;
    height: 4px;
    width: 100%;
} */

.address {
    font-style: normal;
    margin-left: auto;
    display: none;
}

/* .address-menu {
    display: flex;
    gap: 40px;
    } */


/* .address-link {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */

.open-menu-btn {
    padding: 0;
    background-color: transparent;
    line-height: 0;
    cursor: pointer;
    border: none;
}


/* ----------------mob-menu--------------- */

.mob-menu {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    visibility: hidden;
    opacity: 0;
    pointer-events: 0;
    display: flex;
    flex-direction: column;
    overflow: auto;
    
}

.mob-close-btn {
position: absolute;
display: flex;
/* display: block;
margin-left: auto; */
background-color: transparent;
top: 24px;
right: 24px;
width: 24px;
height: 24px;
border-radius: 100%;
padding: 0;
cursor: pointer;
border: 1px solid rgba(0, 0, 0, 0.1);
background-color: #fcfcfc;
justify-content: center;
align-items: center;
transition: background-color 250ms 
cubic-bezier(0.4, 0, 0.2, 1), border 250ms 
cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-close-btn:hover,
.mob-close-btn:focus {
    background-color: #404bbf;
    border: none;
}

.mob-close-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

.mob-close-btn:hover > .mob-close-icon,
.mob-close-btn:focus > .mob-close-icon {
        fill: #e7e9fc;    
        }

.open-mob-menu {
    display: flex;
    margin-left: 16px;
    margin-top: 72px;
    
}

.mob-menu-ul {}

.mob-menu-list:not(:last-child) {
margin-bottom: 40px;
}

.mob-menu-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.mob-menu-link:hover, 
.mob-menu-link:focus {
color: #404bbf;
}

.mob-address-box {
margin-top: auto;
}

.mob-address {
    margin-left: 16px;
}



.address-mob-menu {

}

.address-mob-list {
    padding-bottom: 24px;
}

.address-mob-link {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
}

.mob-social-list {
display: flex;
justify-content: center;
gap: 40px;
width: 100%;
padding-top: 8px;
margin-bottom: 40px;
}

.mob-social-item {
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.mob-link {
    width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background-color: #4d5ae5;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-link:hover, 
.mob-link:focus {
    background-color: #404bbf;
}

.mob-social-icon {}

/* ------------------ */

/* --------HERO--------- */

.hero {
    margin: 0 auto;
    padding: 72px 0;
    /* padding: 188px 0; */
    background-color: #2e2f42;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-bg-mob.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* max-width: 1440px; */
    max-width: 100%;
    height: auto;
}

@media screen and (-webkit-min-device-pixel-ratio: 2), 
(min-resolution: 2dppx),
(min-resolution: 192dpi) {

    .hero {
background-image: linear-gradient(
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-bg-mob-2x.jpg);
    }
}

.hero-container {
    /* padding: 188px 472px; */
}

.hero-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #fff;
    padding-bottom: 72px;
    max-width: 100%;
    text-align: center;
    padding-left: 52px;
    padding-right: 52px;
    /* margin: 0 56; */
    /* margin-left: auto;
    margin-right: auto; */

}

.hero-btn {
    font-family: "Roboto", sans-serif;
    /* font-family: inherit; */
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4d5ae5;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    padding: 16px 32px;
    margin: 0 auto;
    display: block;
    max-width: 169px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);;
}

.hero-btn:hover {
    background: #404bbf;

}

.hero-btn:focus {
    background: #404bbf;

}

/* ------------------- */
/* -----------FEATURES---------------- */

.features {
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 72px 0;

}

.section-features {
    /* padding: 120px 0; не потрібне */
}

/* .features-image {
display: flex;
gap: 24px; зайве

} */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.features-ul {
    display: flex;
    flex-wrap: wrap;
    /* gap: 24px; */
    gap: 72px;

}

.features-list {
    /* width: calc((100% - 3* 24px) / 4); пізніше знадобитьмся */

}

.box-icon {
    display: none;

}

.features-subtitle {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    text-align: center;
}

.features-text-p {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    color: #434455;
    }

/* ------------------- */
/* -----------TEAM---------------- */

.section-team {
    /* padding: 120px 0; */

}



.team {
    background-color: #F4F4FD;
    text-transform: capitalize;
    color: #2e2f42;
    padding: 96px 0;




}


.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    background-color: #F4F4FD;
    color: #2e2f42;
    margin-bottom: 72px;

}

.team-ul {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
    max-width: 100%;
    justify-content: center;
    /* column-gap: 24px;
    row-gap: 48px;
    gap: 24px; */


}

.team-list {
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    /* width: calc((100% - 3 * 24px)/4); */
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    /* width: 320px; */
}


.team-image {
    margin-bottom: 32px;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    display: block
}

.team-name {
padding: 32px 0;

}

.team-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}

.team-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}

.team-social {
    display: flex;
        gap: 24px;
        justify-content: center;
    /* margin-top: 8px */
    /* margin-bottom: 32px;
    margin-left: 16px; */
}

.team-link:hover {
    background-color: #404bbf;
}

.team-link:focus {
    background-color: #404bbf;
}

.team-social-list {
display: flex;
justify-content: center;
gap: 24px;
width: 100%;
padding-top: 8px;

}

.team-social-item {
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;

    }

.team-link {
width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.team-social-icon {
    fill: #f4f4fd;
}

/* ------------------- */
/* -----------PORTFOLIO---------------- */

.section-portfolio {
    padding: 96px 0;
/* padding-top: 120px;
    padding-bottom: 120px; */
}


.features {
    font-weight: 700;
    /* text-transform: capitalize; */
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.features-title {
    font-weight: 700;
    text-transform: capitalize;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
}

.portfolio-ul {
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
    /* gap: 24px;
    row-gap: 48px; */
    /* width: calc((100% - 48px) / 3); */
    width: 100%;
}

.features-list-li:hover {
box-shadow: 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.features-list-li {
    /* width: calc(100 - 2 * 24)/3; */
    position: relative;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.features-list-li:hover .features-cover-text {
    transform: translateY(0);

}


.features-image {
    margin: 0 auto;
    width: 100%;
    display: block
}

.features-subtitle-portf {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2%;
        letter-spacing: 0.02em;
        color: #2e2f42;
        padding-top: 32px;
}

.features-cover-wrap {
position: relative;
overflow: hidden;

}

.features-cover-text {
    position: absolute;
    top: 0;
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
        padding: 40px 32px;
        background-color: #4d5ae5;
        transform: translateY(100%);
        height: 100%;
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);


}

.app-name {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    /* margin-bottom: 8px */

}


.features-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    color: #434455;
    padding-top: 32px;

    /* padding-bottom: 32px;
    padding-top: 32px; */
}


/* ------------------- */
/* -----------FOOTER---------------- */

.footer {
    /* padding-top: 120px; */
    padding-top: 96px;
    padding-bottom: 72px;
    /* padding: 100px 0; */
    background-color: #2e2f42;
    display: flex;
    max-width: 100%;


}

.footer-container {
    display: flex;
    align-items: baseline;

    /* padding: 100px 1020px 100px 156px; */
    flex-wrap: wrap;
    max-width: 320px;
}

.box-footer-logo {
    /* margin-right: 120px; */
    display: block;
    flex-wrap: wrap;
    max-width: 320px;
    /* align-items: center; */


}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    padding-bottom:  16px;
    display: inline-block;
    width: 100%;
    padding-left: 86px;
    
    
}

.footer-logo-color {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
}

.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 288px;

}

.box-footer-social {
    display: flex;
    flex-wrap: wrap;
    /* align-items: start; */
    align-items: center;
    justify-content: center;
    /* margin-right: 80px; */
    padding: auto 0;
    max-width: 208px;
    margin: 0 auto;
    }


.footer-social-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    padding-bottom: 16px;
    /* margin: 0 auto; */
align-items: center;
justify-content: center;


}


.address-footer {}

.address-footer-list {
    display: flex;
    gap: 16px;




}

.address-footer-item {
    width: 40px;
    height: 40px;
}

.address-footer-link:hover {
    background-color: #31d0aa;
}

.address-footer-link:focus {
    background-color: #31d0aa;
}

.address-footer-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.address-social {
    fill: #f4f4fd;
}

.footer-subscribe {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.subscribe-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFF;
    padding-bottom: 16px;

}

.footer-form {
    display: flex;
    flex-wrap: wrap;
    /* gap: 24px; */
    gap: 16px;
    max-width: 288px;

}

.footer-form-wrap {}

.footer-label {}

.footer-input {
    border: 1px solid #fff;
    border-radius: 4px;
    /* width: 264px; */
    width: 288px;
    height: 40px;
    background: #2e2f42;
    outline: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding: 0 16px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: transparent;
    border: 1px solid #FFF;
    color: #ffffff;
}

.footer-input::placeholder {
    color: rgba(46, 47, 66, 0.4);
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #ffffff;
}

.footer-form-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #FFF;
    border-radius: 4px;
    padding: 8px 24px;
    min-width: 165px;
    height: 40px;
    background: #4d5ae5;
    border: none;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin: 0 auto;
}

.footer-form-btn:hover,
.footer-form-btn:focus {
    background: #404bbf;
}

.subscribe-icon {
    margin-left: 16px;
    fill: #FFF;

}



/* ---------**modal**---------- */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 288px;
    min-height: 623px;
    /* width: 408px;
    min-height: 584px; */
    background-color: #fcfcfc;
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    padding-top: 72px;
    padding-left: 16px;
    padding-right: 16px;
    /* padding-left: 24px;
    padding-right: 24px; */
    padding-bottom: 24px;
}

.modal-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    padding: 0;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #e7e9fc;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

.modal-close-btn:hover,
.modal-close-btn:focus {
    background-color: #404bbf;
    border: none;
    }

.modal-close-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

.modal-close-btn:hover > .modal-close-icon,
.modal-close-btn:focus > .modal-close-icon {
    fill: #fff;
    }

.modal-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    max-width: 360px;
    margin-bottom: 16px;
    }

.modal-form {

}

.modal-field {
margin-bottom: 8px;

}

.check {
margin-bottom: 24px;
}

.modal-label {
    display: block;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.modal-field-wrap {
    position: relative;

}

.modal-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    outline: transparent;
    padding-left: 38px;
    color: #2e2f42;
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:hover,
.modal-input:focus {
    border: 1px solid #4d5ae5;
}


.modal-input::placeholder {
    color: rgba(46, 47, 66, 0.4);
}

.modal-icon {
    position: absolute;
    fill: #2e2f42;
    background: #fff;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-icon:hover,
.modal-icon:focus {
    fill: #4D5AE5;
    border: none;
}

.modal-input:hover + .modal-icon,
.modal-input:focus + .modal-icon {
    fill: #4D5AE5;
}

.modal-icon-svg {

}

.modal-field-comment {
margin-bottom: 16px
}

.modal-text {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    width: 100%;
    height: 120px;
    border: 1px solid #2e2f42;
    border-radius: 4px;
    outline: transparent;
    padding: 8px 16px;
    color: rgba(46, 47, 66, 0.4);
    /* color: #2e2f42; */
    resize: none;
    border: 1px solid rgba(46, 47, 66, 0.4);
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text:focus,
.modal-text:hover {
    border: 1px solid #4d5ae5;
}

.modal-check {

}


.modal-check-text {
    /* display: inline-flex; */
    margin-top: 16px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    align-items: center;
    }

.modal-check-text span {
    display: inline-flex;
    width: 16px;
    height: 16px;
    margin-right: 8px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.modal-check:checked + .modal-check-text span {
    background-color: #404bbf;
    fill: #f4f4fd;
    border: none;


}

.check-icon {

}

.privacy-policy {
line-height: 1.33;
text-decoration: underline;
text-decoration-skip-ink: none;
color: #4d5ae5;
margin-left: 4px;
text-decoration: underline;
text-decoration-skip-ink: none;
}

/* .privacy-policy:hover,
.privacy-policy:focus {
color: #4d5ae5;
} */

.modal-btn {
display: block;
margin: 0 auto;
border-radius: 4px;
min-width: 169px;
height: 56px;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
background: #4d5ae5;
color: #fff;
border: none;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
text-align: center;
cursor: pointer;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
background: #404bbf;
}

/* -------media-tablet---------- */

@media screen and (min-width:768px) {

.container {
max-width: 768px;
}

.hero {
background-image: linear-gradient(
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-bg-tab.jpg);
}

@media screen and (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 2dppx),
(min-resolution: 192dpi) {

.hero {
background-image: linear-gradient(
rgba(46, 47, 66, 0.7),
rgba(46, 47, 66, 0.7)
),
url(../images/hero-bg-tab-2x.jpg);
    }
}



.header-logo {
    margin-right: 120px;
}

.header-menu {
    display: flex;
    gap: 40px;
}

.header-menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;

}

.current {
    position: relative;
    color: #404bbf;
}

.current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    background-color: #404bbf;
    border-radius: 2px;
    height: 4px;
    width: 100%;
}

.open-menu-btn {
display: none;
}

.address {
    display: block;
}

.address-menu {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.address-link {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero {
    max-width: 100%;
    padding: 112px 0;
}

.hero-title {
    padding-left: 120px;
    padding-right: 120px;
    padding-bottom: 36px;
    font-size: 56px;
    line-height: 1.07;
}

.features-ul {
gap: 72px 24px;
}


.features-list {
    width: calc((100% - 24px) / 2);
}

.features-subtitle {
    text-align: left;
}



.team-ul {
gap: 64px 24px;
}

.team-ul .container {
    margin: 0 108px;
}



.team-list {
    /* width: calc((100% - 24px)/2); */
}

.footer {
    padding: 72px 0;
}

.footer-container {
    padding-left: 92px;
}

.footer-logo {
padding-left: 0;
}

.box-footer-social {
    display: block;
margin-left: 24px;

}


.footer-subscribe {
    display: block;
    width: 453px;
}

.footer-form {
    flex-wrap: nowrap;
    width: 453px;
    gap: 24px;
}

.modal {
width: 408px;
min-height: 584px;
padding-left: 24px;
padding-right: 24px;
}

}

/* -------media-desktop---------- */

@media screen and (min-width:1158px) {

.container {
max-width: 1158px;
padding: 0 15px;
}

.header-logo {
    margin-right: 76px;
}

.address-menu {
flex-direction: row;
gap: 40px;
}

.box-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;

}

.address-link {
    font-size: 16px;
    line-height: 1.5;
    }

.hero {
    max-width: 100%;
    padding: 188px 0;
background-image: linear-gradient(
    rgba(46, 47, 66, 0.7), 
    rgba(46, 47, 66, 0.7)
    ), 
    url(../images/hero-people-office-1.jpg);
}

@media screen and (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 2dppx),
(min-resolution: 192dpi) {

.hero {
background-image: linear-gradient(
rgba(46, 47, 66, 0.7),
rgba(46, 47, 66, 0.7)
),
url(../images/hero-bg-desk-2x.jpg);
    }
}

.hero-title {
    padding-left: 316px;
    padding-right: 316px;
}


.features-list {
width: calc((100% - 3* 24px) / 4);
}

.features-list-li {
width: calc(100 - 2 * 24)/3;
}

.team {
    padding: 120px 0;
}

.team-ul {
    gap: 24px;
    flex-wrap: wrap;
}

.team-list {
    width: calc((100% - 3 * 24px)/4);
}

.portfolio-ul {
    gap: 48px 24px;
}

.footer {
    padding-top: 100px;
    justify-content: space-around;

}
.footer-container {
   flex-wrap: nowrap; 
}

.box-footer-logo {
    padding-right: 120px;
    max-width: 100%;
}

.box-footer-social {
    margin-right: 80px;
}

}

